:root {
    /* primary colors */
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    /* neutral colors */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /* fonts */
    --ff: font-family: 'Outfit', sans-serif;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --ps: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

main {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0px 0px 20px var(--card-bg);
}

.top img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.top {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 280px;
}

.top:hover .overlay {
    opacity: 0.4;
}

.top:hover .eye {
    cursor: pointer;
    display: block;
    visibility: visible;
    opacity: 1;
}

.bottom h3:hover, .creation span:nth-child(3):hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--primary-cyan);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.5s ease;
    opacity: 0;
    border-radius: 10px;
}

.eye {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: visibility 0s opacity 0.5s linear;
    object-fit: scale-down;
    visibility: hidden;
}

.bottom {
    font-family: var(--ff);
}

.bottom h3 {
    margin: 15px 0;
    color: var(--white);
    font-weight: var(--fw-600);
}

.bottom p, .ethereum div:nth-child(2) {
    color: var(--primary-blue);
    font-weight: var(--fw-400);
}

.bottom p {
    font-size: ps;
}

.ethereum {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.line {
    height: 1px;
    background-color: var(--line);
    border-radius: 15px;
    margin-bottom: 15px;
}

.ethereum div:nth-child(1) {
    color: var(--primary-cyan);
    font-weight: var(--fw-600);
}

.creation {
    display: flex;
    align-items: center;
    font-weight: var(--fw-300);
}

.creation div {
    background: var(--white);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding: 1px;
}
.creation img {
    width: 100%;
}

.creation span:nth-child(2) {
    margin-left: 10px;
    color: var(--primary-blue);
}

.creation span:nth-child(3) {
    color: var(--white);
}

footer {
    position: absolute;
    top: 85vh;
    font-size: ps;
    text-align: center;
    color: var(--white);
}

footer a {
    color: var(--primary-cyan);
}